<div class="mat-elevation-z8">
  <table *ngIf="loaded" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef> Capital </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.capital}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.alpha3Code}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let country"><button mat-raised-button color="primary" (click)="onGetCountry(country.alpha3Code)">Get details</button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator *ngIf="loaded" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
